/*
-----------------------------
	HACKS
-----------------------------
*/

// Hide the scroll bar on hscrolls
.hscroll::-webkit-scrollbar,
._proto_photoGrid--scroll::-webkit-scrollbar {
	display: none;
}

// Ideally, I'd be able to just be
// able to set this with `media--m`
.icon.footerScript {
	height: $media-m;
	width: auto;
}

// CARD LIST
// to make cards in a list have consistent heights
.cardList {
	@include display(flex); // make each li go full height
	& > li {
		@include display(flex); // make the cards go full height
	}
	.card {
		width: 100%; // fill width of li
	}
}

// MODAL VIEW FULL
// full screen at all screen widths
.view--modal-full {
	@include modal-full;
	z-index: map-get($zindex-map, "modal");
}

// MODAL VIEW SNAP (default)
// full at narrow widths, dialog at wide widths
.view--modal-snap,
.view--modal-fixed {
	@include modal-full;
	@include atMediaUp(small){
		@include modal-dialog;
	}
	z-index: map-get($zindex-map, "modal");
}

// MODAL VIEW FIXED
// Scroll modal content, not bg
.view--modal-fixed {
	top: 0 !important;
}

.shade--fixed {
	position: fixed;
}

.view--fixed {
	position: fixed;
}


// MODAL VIEW LARGE
// CURRENTLY ONLY USED FOR PHOTO UPLOAD DIALOG
.view--modal-large {
	@include atMediaUp(large) {
		@include modal-dialog();
		width: $breakpoint-xl;
		margin-left: -#{($breakpoint-xl/2)}
	}
	@include modal-full;
	z-index: map-get($zindex-map, "modal");
}

// Don't let view-head overlap content
.view-body:not(#modal_body) {
	.stripe.stripe--photoHero:first-child {
		padding-top: $view-head-height;
		@include atMediaUp(large){
			padding-top: $view-head-height-tablet;
		}
	}
}

#splitDetail {
	overflow-x: hidden;
	overflow-y: scroll;

	.card--event {
		min-height: auto;
	}

	@include atMediaUp(medium) {

	.viewHead-back {
			display: none;
		}

	}

}

//
// Don't let position:fixed view-head overlap .stripe content
//
.view-head:not(.view-head--mediaContent):not(#modal_header) {
	position: fixed;

	// &#modal_header {
	// 	position: initial;
	// }

	#splitList_header & {
		width: 320px;
	}

	& + .view-body header.stripe {
		padding-top: $view-head-height;
		@include atMediaUp(large){
			padding-top: $view-head-height-tablet;
		}
	}

}

//
// Style the overlay that comes up with modals
//
.shade {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: map-get($zindex-map, "shade");
	@include transition(all .15s);
	background: $C_dimmingOverlay;
	opacity: 1;
	&.off{
		opacity: 0;
	}
}

//
// A way to hide something conservatively, good for file inputs
//
.input-wrap--hidden{
	width: 0px;
	height: 0px;
	overflow: hidden;
}

//
// Don't force discussion list items (cards) to keep a 160px min-height.
// This came up on 6/19 when dealing with Pre MUPs in the discussion list.
//
._proto_discussionList > .card {
	min-height: 0;
}

//
// Flush
// Use negative margins to kill padding
//
._hacks_flush {
	margin: 0 -#{$space};
}

._hacks_breakBounds--alignLabel > *:first-child {
	margin-left: $space;

	@include atMediaUp(medium) {
		margin-left: 0;
	}

}

//
// Exact list
// Limits lists to one line
// Used in this prototype for member list sidebar
//
._hacks_exactList--small {
	height: $media-xs;
}

._hacks_atLarge_exactList--spread {
	@include atMediaUp(large) {
		height: auto;
		margin-right: 0;

		.exactList-content {
			text-align: initial;
		}

		._hacks_exactList-indicator {
			display: none;
		}

	}
}

//
// Unbold
// Un-bolds text that is in a normally bolded context
//
._hacks_text--unbold {
	font-weight: $W_normal;
}

//
// Line-clamp truncation
// Uses `-webkit-line-clamp` to truncate text by line 
// instead of by char count. 
// Maybe use JS to do char-count truncation for unsupported browsers?
//
._hacks_wrap--2line--truncate {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical; 
	overflow: hidden;
}


