/*
	TWEAKS:
	Styles I'd like to see make it into SQ2
*/

.toggleButton--lg .toggleButton-label {
	font-size: 16px !important;
}

.toggleButton-input:checked + .toggleButton-label:hover {
	color: $C_link;
	use {
		fill: $C_link;
	}
}

/*
-----------------------------
	LAYOUT
-----------------------------
*/
// Summary-detail element
._tweak_summaryDetail-detail {
	@include pseudoDisplay(none);
}

._tweak_summaryDetail--expanded {
	._tweak_summaryDetail-detail {
		@include pseudoDisplay(block);
	}
	._tweak_summaryDetail-icon {
		@include transform(rotate(90deg));
	}
}

.spreadable--center {
	@include justify-content(center);
}

.span--100 { //already there, just need to update
	width: 100%;
}

.runningText img {
	max-width: 100%;
}

.buttonList--small li {
	padding-bottom: $space-half;
}

.attachment .row-item:first-child {
	padding-left: 0;
}

/* _stripe.scss */
.stripe-heroContent--full { // new variant
	max-width: none;
	width: 100%;
}

.stripe--inverted {
	background-color: $C_contentBGInverted; // no change, just different color
}

.stripe--noBorder { // new variant
	border-width: 0px !important;
	padding-top: $space-double;
}

// fixes to stripe-overlap
.stripe--overlap {
	position: relative;
	.bounds {
		position: relative;
	}
}
.stripe--overlap:not(.stripe--hero),
.stripe--overlap:not(.stripe--photoHero) {
	&:before {
		border-top: 1px solid $C_border;
	}
}

// fixes to hscroll
.hscroll-content > li {
	white-space: normal;
}
.hscroll--breakBounds {
	transform: translateX($space);
	margin-left: -#{$space};
	@include atMediaUp(medium) {
		transform: translateX(0);
		margin-left: 0;
	}
}

.spreadable--noGutters > .spreadable-item {
	padding-left: 0;
}

// Used for when you want to fill up bounds and
// not have the items have fluid percentage-based widths
// Example: hscrolling event cards
._tweak_staticGridList {
	@include display(flex);
	& > li {
		padding-right: $space;
	}
	margin-right: -($space);
}


$boundsWidths: (
	bounds: $bounds,
	bounds--wide: $bounds-wide
);
$glColumns: 1, 2, 3, 4, 5; // after 5, you should probably just use inlineBlockList and standard media sizes, you animal

@each $bName, $bWidth in $boundsWidths {
	.#{$bName} {

		@each $col in $glColumns {
			._tweak_staticGridList--has#{$col} > li {
				@include flex(1 0 ($bWidth/$col - $space*($col - 1))); //subtracting space to make up for padding
				max-width: $bWidth/$col - $space*($col - 1); //subtracting space to make up for padding
			}
		}

		@each $bpName, $bp in (medium: $breakpoint-m, large: $breakpoint-l) {
			@include atMediaUp($bpName) {
				@each $col in $glColumns {
					.at#{str-firstCharToUpper($bpName)}__tweak_staticGridList--has#{$col} > li {
						@include flex(1 0 ($bWidth/$col - $space*($col - 1))); //subtracting space*2 to make up for margin-left
						max-width: $bWidth/$col - $space; //subtracting space to make up for margin-left
					}
				}
			}
		}

	}
}

/*
-----------------------------
	UI COMPONENTS
-----------------------------
*/
._tweak_avatar--icon {
	background: transparent;
	padding: 0;
	position: relative;

	.icon {
		height: $media-s;
		left: 50%;
		position: absolute;
		transform: translate(-50%);
		top: 0;
		width: $media-s;
	}

}

._tweak_avatar--xsmall {
	height: $font-size;
	width: $font-size;
}

._tweak_button--contrast {
	&:hover {
		background: $C_textHint;
	}
}

/*
-----------------------------
	FORMS
-----------------------------
*/
// add launcher into the input stack styles
._tweak_inputStack-field {

	input,
	textarea,
	.launcher{
		border-bottom-width: 0;
		border-radius: 0;
		margin-bottom: 0;

		&:focus {
			border-bottom-width: 1px;
		}
	}

	&:first-of-type {
		input,
		textarea,
		.launcher {
			border-radius: $defaultRadius $defaultRadius 0 0;
		}
	}

	&:last-child {
		input,
		textarea,
		.launcher {
			border-bottom-width: 1px;
			border-radius: 0 0 $defaultRadius $defaultRadius;
		}
	}

}

// Add icons to inputs
.input--withIcon {
	background-position: $space-half center;
	background-repeat: no-repeat;
	background-size: $media-xs;
	padding-left: $media-xs + $space;
}

.input--withIcon--right {
	background-position: calc(100% - 8px) center; // handle `calc` for meh browsers
	padding-left: $space;
	padding-right: $media-xs + $space;
}

// keep icon shown on focus
.launcher:focus {
	background-position: center right #{$space-quarter};
	background-repeat: no-repeat;
}


/*
-----------------------------
	NEW: ANIMATION
-----------------------------
// TODO: This isn't at all scalable yet.
//       Come up with plan for animations in SQ3.
*/

$trans-dur       : 200ms;
$trans-dur--fast : 120ms;
$trans-curve     : ease-in;

@include keyframes(like) {
	0%, 100% {
		@include transform(scale(1));
		box-shadow: inset 0 0 1px 0 transparentize($C_accent, 1);
	}
	30% {
		@include transform(scale(1.4));
		box-shadow: inset 0 0 1px 8px transparentize($C_accent, .4);
	}
}

@include keyframes(bounce) {
	0%, 100% {
		@include transform(scale(1));
	}
	30% {
		@include transform(scale(1.2));
	}
}

.anim--bounce {
	@include animation(bounce $trans-dur $trans-curve);
}

/* NEW: _transitions.scss */
.trans {
	@include transition-duration($trans-dur);
	@include transition-timing-function($trans-curve);
}

.trans--fadeOut {
	@include transition-property(opacity);
	opacity: 0;
}

.trans--fadeIn {
	@include transition-property(opacity);
	opacity: 1;
}

.trans--fadeOutLeft {
	@include transition-property(transform, opacity);
	@include transform(translateX(-50px));
	opacity: 0;
}

.trans--fadeInLeft {
	@include transition-property(transform, opacity);
	@include transform(translateX(0px));
	opacity: 1;
}

