//
//  Hide the icon container, because the injected SVG
//  takes up physical space.
//
#icon-container {
	display: none;
}

//
//  Set icon defaults
//
.icon {
	display: inline-block;
	width: $media-xs;
	height: $media-xs;
	use {
		stroke: none;
		fill: $C_textSecondary;
	}
}
.link, .toggleButton {
	.icon use {
		fill: $C_link;
	}
}

.inverted .icon use {
	fill: $C_textPrimaryInverted;
}

//
// Style the icons
//
.icon--hint use,
.userLiked--false use,
.userLiked--undefined use {
	fill: $C_border;
}

.userLiked--true {
	@include animation(like 150ms ease-in);
	border-radius: 999px;

	use {
		fill: $C_accent;
	}

}

.icon--textInline {
	height: $font-size-small;
	width: $font-size-small;

	// use {
	// 	fill: $C_textPrimary;
	// }

	// .text--secondary & {
	// 	fill: $C_textSecondary;
	// }

	// .text--hint & {
	// 	fill: $C_textHint;
	// }

}

.icon-calendar--sched use {
	fill: $C_success;
}

.icon-calendar--canceled use {
	fill: $C_attention;
}
