@import '../../bower_components/meetup-swatches/sass/colors';
@import '../../bower_components/sassquatch2/sass/util';
@import 'tweaks'; // TO BE CONSIDERED AS GLOBAL CHANGES TO SQ2
@import 'hacks'; // SHAMEFUL QUICKFIXES
@import 'icons';
@import 'nav';
@import 'proto_momentary'; // STYLES FOR POPOVER
@import 'proto_toast'; // STYLES FOR TOAST
@import 'proto_calendar'; // STYLES FOR CALENDAR
@import 'proto_loader'; // STYLES FOR ANIMATED LOADER

/*
------------------------------
Hero header
------------------------------
*/
._proto_groupLogo {
	background-size: contain;
	border-radius: $defaultRadius;
	border: 1px solid $C_textPrimaryInverted;
	width: $media-m;
	height: $media-m;
	@include atMediaUp(medium) {
		width: $media-l;
		height: $media-l;
	}
}

/*
------------------------------
MUG meta info
------------------------------
*/
.spreadable > .spreadable-item._proto_mugMeta {

	@include atMediaUp(large) {
		@include flex-basis($block-5);
		order: 1;
		padding-left: $space;
	}

}

/*
------------------------------
Discussion feed
------------------------------
*/

// Discussion list
._proto_discussionList {
	margin: 0 -#{$space};

	& > .card {
		border-radius: 0;
		border-left: 0;
		border-right: none;
	}

	@include atMediaUp(medium) {
		margin: 0;

		& > .card {
			border-radius: $defaultRadius;
			border-left: 1px solid $C_border;
			border-right: 1px solid $C_border;
		}

	}

}

._proto_discussion-replies ._proto_discussion-reply {
	display: none;
}

//
// Context Event
//
// wrapper for MUPs when it's just displayed for status
._proto_statusEventContainer {
	margin-bottom: 0 !important;
	._proto_card--postAttach {
		border-bottom: none;
	}
}

// Event cards that appear in the feed
._proto_card--postAttach {
	background: $C_collectionBG;
	border-left: none;
	border-right: none;
	border-radius: 0;
	margin: 0 -#{$space};
	min-height: 0;
	padding: $space;
}

._proto_card--postAttach--past {

	h5,
	p {
		color: $C_textSecondary;
	}

}

//
// Photos
//
// Flex Photos - flexbox-based photo-grid
._proto_flexPhotos {
	position: relative;

	&--sm {
		width: percentage(1/3);
	}

	&--lg {
		width: percentage(2/3);
	}

}

._proto_flexPhotos-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}

._proto_albumLink {
	bottom: $space;
	left: $space-half;
	position: absolute;
}


//
// Polls
//
.result-bar {
	background: $C_collectionBG;
	border-radius: 999px;
	height: $media-xs;
	overflow: hidden;
}
.result-bar-progress {
	background: $C_contentBGInverted;
	height: 100%;
	width: 0; //will get set by js
}

//
// Link to the remaining MUP comments
//
._proto_contentDisclosure {
	@include background-image(linear-gradient(top, 
		$C_contentBG 0%, $C_contentBG 47%, 
		$C_border 47%, $C_border 50%, 
		$C_contentBG 50%, $C_contentBG 100%
	));

	._proto_contentDisclosure-count {
		background: $C_contentBG;
		border: 1px solid $C_border;
		border-radius: $defaultRadius;
		padding: $space-quarter $space;
		
		&:after {
			background: url('../icons/svg/chevronRight.svg');
			background-size: contain;
			content: '';
			display: inline-block;
			height: $font-size;
			width: $font-size;
			vertical-align: sub;
			opacity: .12; // ask Adam D about a smarter way to pull the opacity from $C_border
		}

	}

	&:hover {

		._proto_contentDisclosure-count {
			color: $C_link;

			&:after {
				// @include transform(translateX($space-quarter));
				opacity: .54;
			}

		}

	}

}

._proto_replyInput {
	height: ($font-size * $line-height) + $space;
	margin-bottom: 0;
	min-height: 0;
}

/*
------------------------------
Posting interface
------------------------------
*/

// At the top of the feed
._proto_postBox {
	background: $C_contentBG;
	border: 1px solid $C_border;
	border-radius: 999px $defaultRadius $defaultRadius 999px;
	padding: 0 $space-half 0 0;
}

input[type="text"]._proto_input--unboxed {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
}

._proto_selector-wrapper {
	border-bottom: 1px solid $C_border;
	margin: 0 -#{$space};
	padding: $space-half $space;
}

//
// Photo uploading
//

// placeholder for adding more photos
._proto_photoUploadNew {
	background: transparent;
	border: 1px dashed;
	color: $C_link;
}

// show the uploaded 
._proto_photoUploadPreview {
	@include valignChildren;
	// height: $block-5;
	// img {
	// 	max-height: $block-5;
	// 	max-width: 100%;
	// }
}

//
// Spark a Meetup
//
$calendarSVG: 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewBox="0 0 300 300"><path fill-rule="evenodd" clip-rule="evenodd" d="M204.677 165.92c12.446 0 22.57 10.125 22.57 22.57 0 12.448-10.124 22.572-22.57 22.572-12.445 0-22.57-10.124-22.57-22.57-.002-12.447 10.124-22.572 22.57-22.572zm45.185-38.29c0-3.112-.878-5.925-3.992-5.925H52.89c-3.115 0-5.308 2.813-5.308 5.926v84.24c0 12.498 9.8 21.734 22.296 21.734h159.276c12.348 0 20.708-9.113 20.708-21.46v-84.513zm15.066-66.18c12.498 0 23.67 9.506 23.67 22.002v135.433c0 30.342-25.64 55.605-55.98 55.605H65.05c-30.342 0-54.05-25.264-54.05-55.605V83.452c0-12.496 9.243-22 21.74-22l21.617-.604c2.438 0 4.146-2.31 4.146-4.745 0 0-.454-6.673-.454-7.532 0-12.392 9.44-22.482 21.807-22.57 12.09-.083 21.523 10.1 21.523 22.19v7.724c0 2.7 2.694 5.537 5.395 5.537h81.934c2.71 0 5.202-2.825 5.202-5.536v-7.26c0-12.124 9.383-22.352 21.505-22.608 12.67-.27 22.76 9.998 22.76 22.605 0 .857-.313 7.608-.313 7.608 0 2.438 1.89 4.59 4.33 4.59l22.734.603z"/></svg>';
$clockSVG: 'data:image/svg+xml;utf8,<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/><path d="M0 0h24v24H0z" fill="none"/><path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/></svg>';

._proto_launcher--date, ._proto_launcher--date:focus{
	background-image: url($calendarSVG);
	background-size: $media-xs;
}

._proto_launcher--time, ._proto_launcher--time:focus {
	background-image: url($clockSVG);
	background-size: $media-xs;
}

/*
------------------------------
Member list
------------------------------
*/

// Make sure everything stays aligned
.atMedium_spreadable--spread ._proto_memberName { // extra class used to beat specificity
	@include atMediaUp(medium) {
		width: $block-4;
	}
}







