@import '../../bower_components/meetup-swatches/sass/colors';
@import '../../bower_components/sassquatch2/sass/util';
@import 'tweaks'; // TO BE CONSIDERED AS GLOBAL CHANGES TO SQ2
@import 'hacks'; // SHAMEFUL QUICKFIXES
@import 'icons';
@import 'nav';

/*
------------------------------
Discussion feed
------------------------------
*/

// Discussion list
._proto_discussionList {
	margin: 0 -#{$space};

	& > .card {
		border-radius: 0;
		border-left: 0;
		border-right: none;
	}

	@include atMediaUp(medium) {
		margin: 0;

		& > .card {
			border-radius: $defaultRadius;
			border-left: 1px solid $C_border;
			border-right: 1px solid $C_border;
		}

	}

}

//
// Context Event
//
// wrapper for MUPs when it's just displayed for status
._proto_statusEventContainer {
	margin-bottom: 0 !important;
	._proto_card--mup {
		border-bottom: none;
	}
}

// Event cards that appear in the feed
._proto_card--mup {
	background: $C_collectionBG;
	border-left: none;
	border-right: none;
	border-radius: 0;
	margin: 0 -#{$space};
	min-height: 0;
	padding: $space;
}

._proto_card--mup--past {

	// .dateDisplay-day,
	// .dateDisplay-month,
	h5,
	p {
		color: $C_textSecondary;
	}

}

//
// Photos
//
// Flex Photos - flexbox-based photo-grid
._proto_flexPhotos {
	position: relative;

	&--sm {
		width: percentage(1/3);
	}

	&--lg {
		width: percentage(2/3);
	}

}

._proto_flexPhotos-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}

._proto_albumLink {
	bottom: $space;
	left: $space-half;
	position: absolute;
}


//
// Polls
//
.result-bar {
	background: $C_collectionBG;
	border-radius: 999px;
	height: $media-xs;
	overflow: hidden;
}
.result-bar-progress {
	background: $C_contentBGInverted;
	// border-radius: 999px;
	height: 100%;
	width: 0; //will get set by js
}

//
// Link to the remaining MUP comments
//
._proto_contentDisclosure {
	@include background-image(linear-gradient(top, 
		$C_contentBG 0%, $C_contentBG 47%, 
		$C_border 47%, $C_border 50%, 
		$C_contentBG 50%, $C_contentBG 100%
	));

	._proto_contentDisclosure-count {
		background: $C_contentBG;
		border: 1px solid $C_border;
		border-radius: $defaultRadius;
		padding: $space-quarter $space;
		
		&:after {
			background: url('../icons/svg/chevronRight.svg');
			background-size: contain;
			content: '';
			display: inline-block;
			height: $font-size;
			width: $font-size;
			vertical-align: sub;
			opacity: .12; // ask Adam D about a smarter way to pull the opacity from $C_border
		}

	}

	&:hover {

		._proto_contentDisclosure-count {
			color: $C_link;

			&:after {
				// @include transform(translateX($space-quarter));
				opacity: .54;
			}

		}

	}

}

._proto_replyInput {
	height: ($font-size * $line-height) + $space;
	margin-bottom: 0;
	min-height: 0;
}

/*
------------------------------
Posting interface
------------------------------
*/

// At the top of the feed
._proto_postBox {
	background: $C_contentBG;
	border: 1px solid $C_border;
	border-radius: 999px $defaultRadius $defaultRadius 999px;
	padding: 0 $space-half 0 0;
}

//
// Photo uploading
//

// placeholder for adding more photos
._proto_photoUploadNew {
	background: transparent;
	border: 1px dashed;
	color: $C_link;
}

// show the uploaded 
._proto_photoUploadPreview {
	@include valignChildren;
	// height: $block-5;
	// img {
	// 	max-height: $block-5;
	// 	max-width: 100%;
	// }
}

